beautifulsoup4==4.12.2
boto3==1.28.72
duckduckgo-search==3.9.3
faiss-cpu==1.7.4
langchainhub==0.1.13
llama-index==0.8.49
lxml==4.9.3
numexpr==2.8.7
openai==0.28.1
pinecone-client==2.2.4
pypdf==3.16.4
python-dotenv==1.0.0
streamlit-authenticator==0.2.3
tabulate==0.9.0
weaviate-client==3.24.2
xmltodict==0.13.0
openpyxl==3.1.2